 {% include navbar.html %}

<div class="grid grid-pad">
        <br><br><br><br><br><br><br>
    <div class="col-8-12 mobile-col-1-1 push-1-4">


    <img src="images/bg.jpg">
    </div>
    </div>
    
<div class="grid grid-pad">

    
    <div class="col-1-2 mobile-col-1-1">
        <br><br><br><br><br><br><br>

        <img src="images/4.jpg">

    </div>
    
    </div>
<div class="grid grid-pad">
        <br><br><br><br><br><br><br>

      <div class="col-1-2 mobile-col-1-1 push-1-4">

<h1>SOLITUDE A/W 2015</h1>
          </div>
    
     <div class="col-1-3 mobile-col-1-1 push-1-3">
         
Soldiers are not heroes. They are not villains either. Certainly, they are human, even those who act ‘inhumanely’. It's about people who have seen or done things that they can't forget, things that may haunt them for the rest of their lives. Many survivors suffer in silence solitude. This collection explores how fashion could bring out the humanistic elements of a soldier; a soldier interacting with the civil society.
          </div>
    
</div>
<div class="grid grid-pad">

 
    <div class="col-1-2 mobile-col-1-1 push-1-3">
        <br><br><br><br><br><br><br>

        <img src="images/3.jpg">
    </div>
    
  

</div>
<div class="grid grid-pad">
    <div class="col-1-1 mobile-col-1-1">
        <br><br><br><br><br><br><br>

        <img src="images/1.jpg">
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-2 mobile-col-1-1 push-1-2">
        <br><br><br><br><br><br><br>
        <img src="images/2.jpg">
    </div>
     <div class="col-1-2 mobile-col-1-1 push-1-3">
         <br><br><br><br><br><br><br>
        <img src="images/5.jpg">
    </div>
</div>



 
<script type="text/javascript">
 

$("#slideToggle").click(function () {
   $('.slideTogglebox').slideToggle();
});
    $("#slideToggle2").click(function () {
   $('.slideTogglebox2').slideToggle();
});
 

</script>
 
    

