<div class="grid grid-pad">


    <div class="col-1-3 mobile-col-1-1">
        <h1> <img id="logo" src="images/logo.svg"></h1>
        <a href='#' id='slideToggle2'><h2>info</h2></a>
    </div> 
            
<br />

<div style="display:none;" class="slideTogglebox2">
<div class="col-1-2 mobile-col-1-1">
	<h2>Odd</h2>
        ODD is a fashion practice, which has no shape yet. It takes different shapes with, me Ishara Jayathillake. But whatever I do, I always feel ODD.
</div>
              
	<div class="col-1-2 mobile-col-1-1">
	<h2>Ishara Jayathilake</h2>
        I am a fashion designer from Sri Lanka, graduated in 2014 from Academy of Design, Colombo with a BA in Fashion Design from Northumbria University, UK.

ODD is my personal fashion practice. It has no clear shape yet. But I am exploring different avenues. I have a strong understanding of Sri Lankan traditional craft and love for sophisticated construction of garments. 

I work on custom design and manufacturing for people who share my odd flavour. 
	</div>
  
  
            
            
    </div>





  <img src="images/bg.jpg">


<div class="grid grid-pad">

    
  
 


 
<script type="text/javascript">
 

$("#slideToggle").click(function () {
   $('.slideTogglebox').slideToggle();
});
    $("#slideToggle2").click(function () {
   $('.slideTogglebox2').slideToggle();
});
 

</script>
 
    
</div>
