<div class="grid grid-pad">


    <div class="col-1-3 mobile-col-1-1">
        <h1> <img id="logo" src="images/logo.svg"></h1>
        <a href='#' id='slideToggle2'><h2>info</h2></a>
    </div> 
            
<br />

<div style="display:none;" class="slideTogglebox2">
<div class="col-1-2 mobile-col-1-1">
	<h2>About Odd</h2>
        
</div>
              
	<div class="col-1-2 mobile-col-1-1">
	<h2>About Ishara</h2>
        
	</div>
  
  
            
            
    </div>





  <img src="images/bg.jpg">


<div class="grid grid-pad">

    
  
 


 
<script type="text/javascript">
 

$("#slideToggle").click(function () {
   $('.slideTogglebox').slideToggle();
});
    $("#slideToggle2").click(function () {
   $('.slideTogglebox2').slideToggle();
});
 

</script>
 
    
</div>
