<nav>

    <div class="grid grid-pad">


        <div class="col-1-3 mobile-col-1-1">
            <h2> <img id="logo" src="images/logo.svg"></h2>
            <a href='#' id='slideToggle2'>info</a>            <a href='https://www.facebook.com/ifeelodd'>facebook</a>

        </div>

        <div style="display:none;" class="slideTogglebox2">
            <div class="col-1-2 mobile-col-1-1">
                <h2> ODD is a fashion practice, which has no shape yet. It takes different shapes with. But whatever I do, I always feel Odd.</h2>
                <h2>About the designer</h2>
        Odd is by me, Ishara Jayathilak, a fashion designer from Sri Lanka, graduated in 2014 from Academy of Design, Colombo with a BA in Fashion Design from Northumbria University, UK.

ODD is my personal fashion practice. It has no clear shape yet. But I am exploring different avenues. I have a strong understanding of Sri Lankan traditional craft and love for sophisticated construction of garments. 

I work on custom design and manufacturing for people who share my odd flavour.     </div>
            </div>






        </div>

    </div>

</nav>